/* html {
  background-image: url("asset('/admin/img/bg_a.png')");
  background-image:url({{url('/admin/img/bg_a')}})
} */

/*Main Nav start*/
.nav_title li a{
  text-align: center;
  font-weight: bold;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  /*background-color: #ffffff30;*/
    background-color: rgba(255,255,255,.2);
}

.nav > li > a:focus, .nav > li > a:hover{
  background-color: rgba(0,0,0,0.2);
}

.notika-tab-menu-bg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    /* width: 100%; */
     /*width: auto;*/
    /*background: #ffffff30;*/
    background-color: rgba(255,255,255,.2);
    content: "";
    z-index: 9;
    height: 100%;
    margin-top: 2px;
}

.custom-logo-area{
    margin-top: 10px;
    width: 150px;
    float: left;

    position: relative;
}

p.logotext_small{
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right:8px;

    transform: scale(.9, 1);
}

.custom-header-top-menu{
    padding: 0px 0px;
}

.custom-header-top-menu{
    float: right;
}

.custom-header-top-menu a{
    color: white;
}


/*--------------------------------------------------------------*/

/*Mobile Menu Start*/
.mobile-menu-area {
    background-color: rgba(0,0,0,0.05);
}
.mobile-menu-area  .mobile-menu #dropdown .mobile-menu-nav li{
    border: 1px solid red;
}



/*Mobile Menu End*/
/*---------------------------------------------------------------------------------*/


ul.notika-menu-wrap li a{
  color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  color: white;
}

.custom-menu-content ul.notika-main-menu-dropdown li a{
  color: white;
}

/*main drop menu*/
.custom-menu-content ul.notika-main-menu-dropdown {
    height: 95px;
    background-color: rgba(0,0,0,0.02);
}

/*----------------------------------------------------------------------------------------*/


/*home_side_content start*/

.home_side_img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.home_side_col1{*/
    /*margin-top: 110px;*/
    /*background-color: #ffffff30;*/
    /*border: 2px outset #BBB8B6;*/
/*}*/
.home_side_content{
    margin-top: 30px;
}

.home_side_content .mi_title1 {
    color: #00c292;
}
.p1{
    color:white;
    margin-top: 10px;
}

.home_side_col1{
    display: none;
}

@media screen and (max-width: 800px) {
    .home_side_col1 {
        margin-bottom: 10px;
    }
}


/*home_side_content END*/
/*--------------------------------------------------------------------------------------------*/


/*home_second_row Start*/
.home_second_row{
    margin-top: 16px;
}
.mi5_a{
    color: #00c292;
}

#home-main{
    font-family: 'Zawgyi-One', sans-serif;
}

/*home_second_row End*/
/*----------------------------------------------------------------------------------------------------------------*/

/*karaoke software Start*/
.home_kara1 , .home_kara2{
    /*transition: box-shadow .3s;*/
    /*background-color: #ffffff10;*/
    background-color: rgba(255,255,255,.09);
}
.home_kara1:hover{
    /*box-shadow: 0 0 14px #000000;*/
    /*background: #000;*/
}

.home_kara2:hover{
    /*box-shadow: 0 0 14px #000000;*/
}



/*karaoke software End*/
/*-------------------------------------------------------------------------------------------------------------------*/

/*product_row start*/
/*.product_row .product_img_a, .product_row .product_img_b{*/
    /*height: 90px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 2px;*/
/*}*/

.menu_product_img1 , .menu_product_img2{
    float: left;
    width: 130px;
    /*background: white;*/
}

.menu_product_img1{
    /*margin-right: 3px;*/
    margin-left: 5px;
}

.product_img_a, .product_img_b{
    height: 87px;
    width: 124px;
    margin-top: 5px;
}

/*.product_row .product_img_a{*/
    /*margin-left: 5px;*/
/*}*/

/*.product_row .product_img_b{*/
    /*margin-left: 0;*/
    /*padding-left: 0;*/
/*}*/
/*product-row end*/
/*-------------------------------------*/

/*price_row start*/

.price_row .price_img_a, .price_row .price_img_b{
    height: 90px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.price_row .price_img_a{
    margin-left: 5px;
}

.price_row .price_img_b{
    margin-left: 0;
    padding-left: 0;
}

/*price_row END*/
/*-----------------------------------------------------------------------------------------*/

.mi5_h4{
    color: #ff5831;
    margin-bottom: 15px;
}

/*product.blade START*/
.productimg1, .productimg2, .productimg3{
    position: relative;
}

.productimg1 .detail1 p, .productimg1 .screenshot1 p , .productimg2 .detail1 p , .productimg2 .screenshot1 p , .productimg3 .detail1 p, .productimg3 .screenshot1 p{
    text-align: center;
    margin-top: 10px;
    color: #bcd155;
    font-weight: bold;
}

.productimg2 .tabbut1 p, .productimg2 .tabbut2 p{
    text-align: center;
    margin-top: 10px;
    color: #bcd155;
    font-weight: bold;
}

#fivedetail{
    display: none;
}

#five_remotescreenshot{
    display: none;
}

.screenshot_row2{
    margin-top: 6px;
}

.five_screen1, .five_screen2{
    width: 544.2px;
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fivetab_detail{
    display: none;
}
#fivetab_screen{
    display: none;
}
.tablet_content{
    font-family: 'Zawgyi-One', sans-serif;
}

.tablet_content p{
    color: white;
}
.tab_title{
    margin-top: 40px;
}
.tab_title h4{
    color:papayawhip;
}
#fivetab_screen .screenshot_row2{
    margin-top: 20px;
}
#fivetab_screen{
    font-family: 'Zawgyi-One', sans-serif;
}
#fivetab_screen h6{
    color: ghostwhite;
}

/*@media screen and(max-width:492px){*/
    /*.five_screen1, .five_screen2{*/
        /*display: block;*/
        /*height: 220px;*/
    /*}*/
/*}*/


/*for detail & screenshot phone size */
@media screen and (max-width: 800px) {
    .productimg2, .productimg3{
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .productimg2, .productimg3{
        margin-top: 50px;
    }

    .five_screen1 , .five_screen2{
        height: 220px;
    }
}


.product_over1, .product_over2, .product_over3{
    position: absolute;
    top: 1px;
    left: 18px;
    color: #ffffff;
    font-size: 17px;
}
.mi5_product_img1, .mi5_product_img2, .mi5_product_img3{
    margin-bottom: 5px;
}


.mi5_product_img1 , .mi5_product_img2, .mi5_product_img3{
    width: 100%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;

    /*background-color: #ffffff20;*/
    background-color: rgba(255,255,255,0.16);
    /*box-shadow: 14px 8px 1px #00000060;*/

    box-shadow: 7px 7px 5px #00000050;
}



/*End for detail & screenshot phone size */
/*-------------------------------------------------------------------------------------------------------------------------*/

/*five_remote.blade start*/
.mi5remote-title h4{
    color: white;
    margin-top: 40px;
    text-shadow: 1px 1px #f28cdd;
}




/*end five_remote.blade*/
/*******************************************************************************************************************************/

/*Start download.blade*/
.mi5_card{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 600px) {
    .mi5download_card{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mi5download_card{
        width: 100%;
    }
}







/*end download.blade*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*Start Contact.blade*/
.contact_row1, .contact_row2{
    height: 300px;
    background: #ffffff20;
}
.contact_img1, .contact_text1, .contact_map1, .contact_img2, .contact_text2, .contact_map2{
    color: white;
}

.contact_head1 h4, .contact_head1 p{
    color: white;

}


.contact_map1 .g_map iframe , .contact_map2 .g_map iframe{
    margin-top: 15px;
    border: 2px solid darkorange;
    border-radius: 5px;
    margin-left: 15px;
}

@media screen and (max-width: 900px) {

    .contact_img1 img, .contact_img2 img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 9px;
        height: 260px;
        display: block;
    }

    .contact_row1{
        width: 100%;
        height: 100%;
    }
    .contact_map1 .g_map iframe , .contact_map2 .g_map iframe{
        margin-left: 17px;
        margin-right: auto;
        margin-bottom: 12px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .contact_img1 img, .contact_img2 img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 9px;
        height: 260px;
        display: block;
    }

    .contact_row1{
        width: 100%;
        height: 100%;
    }
    .contact_map1 .g_map iframe , .contact_map2 .g_map iframe{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        width: 100%;
    }
}

/*End contact.blade*/
/*------------------------------------------------------------------------------*/

/*custom dropdown Start*/

.dropbtn {
    background-color: #00c292;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #00c292;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*End custom dropdown*/
/*------------------------------------------------------------------------------------------------*/

/*Start custom-mobile-menu*/

.topnav {
    overflow: hidden;
    /*background-color: #ffffff30;*/
    background-color: rgba(255,255,255,0.2);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    /*background-color: #ffffff20;*/
    background-color: rgba(255,255,255,0.15);
    /*color: #ffffff20;*/
    color: rgba(255,255,255,0.15);
}

.custom-mobile-active {
    /*background-color: #ffffff30;*/
    background-color: rgba(255,255,255,0.21);
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1020px) {
    .topnav{display: none;}
}


@media screen and (max-width: 800px) {
    .topnav{
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}



@media screen and (max-width: 900px) {
    .topnav{
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

.product_dropdown_content{
    display: none;
}

.product_dropdown_content a{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    /*background: #64666620;*/
    background-color: rgba(255,255,255,0.04);
}

.product_dropdown_content img{
    /*padding-left: -30px;*/
    /*margin-left: -360px;*/
    float: left;
}
.p_mobile_mi5, .p_mobile_mi7{
    padding-top: 20px;
}


.show {
    display: block;
}

/*End custom-mobile-menu*/
/*----------------------------------------------------------------------------------------------------------*/